<!DOCTYPE html>
<head>
  <title>Curly Test Template</title>
</head>
<body>
  <h1>Curly Test Template</h1>
  {{> navbar}}
  <div>
    {{> page}}
    {{> single}}
    {{> list}}
    {{> page}}
  </div>
</body>
