<!DOCTYPE html>
<head>
  <title>Post Test Template</title>
</head>
<body>
  <h1>Curly Test Post Template</h1>
  {{> navbar}}
  <p><i>{{quote}}</i></p>
  <div>
    {{> page}}
    {{> single}}
    {{> list}}
    {{> page}}
  </div>
</body>
